@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
}

/* ====================== navigation bar ================= */
#bars{
    display: none;
    font-size: 30px;
    position: absolute;
    top: 60px;
    right: 30px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px 170px 0px 120px;
    overflow-x: hidden;
}
#navbar #startnav{
    margin: 0px;
}
#navbar #startnav b {
    font-size: 35px;
    color: rgb(52, 58, 64);
    margin:0px 0px 0px 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navbar #startnav #startnavtitles {
    display: flex;
}

#navbar #startnav #startnavtitles li {
    list-style-type: none;
    margin: 20px 15px 0px 15px;
}

#navbar #startnav #startnavtitles li a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(52, 58, 64);
}

#navbar #endnav form input[type="search"] {
    width: 250px;
    border-radius: 30px;
    padding: 10px 0px 10px 8px;
    border: none;
    outline: none;
    border: 0.2px solid rgb(52, 58, 64, 0.2);
    margin: 0px;
}

#navbar #endnav form button {
    color: white;
    background-color: rgb(32, 201, 151);
    border-radius: 50%;
    padding: 12px 13px 12px 13px;
    border: none;
    outline: none;
}

#navbar #endnav #endnavcart {
    display: block;
    margin: 35px 0px 0px 180px;
}

#navbar #endnav #endnavcart a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media(max-width:1025px) {
    #navbar {
        justify-content: space-between;
        padding: 60px 70px 0px 10px;
    }

    #navbar #startnav b {
        font-size: 25px;
        margin:0px 0px 0px 37px;
    }

    #navbar #startnav #startnavtitles li {
        margin: 10px 15px 0px 0px;
    }

    #navbar #startnav #startnavtitles li a {
        font-size: 14px;
    }

    #navbar #endnav form input[type="search"] {
        width: 200px;
        padding: 8px 0px 8px 6px;
    }

    #navbar #endnav form button {
        padding: 10px 11px 10px 11px;
    }

    #navbar #endnav #endnavcart {
        margin: 20px 0px 0px 120px;
    }

    #navbar #endnav #endnavcart a {
        font-size: 15px;
    }
}
@media(max-width:769px) {
    #navbar {
        justify-content: space-between;
        padding: 60px 30px 0px 0px;
    }

    #navbar #startnav b {
        font-size: 25px;
        margin:0px 0px 0px 37px;
    }

    #navbar #startnav #startnavtitles li {
        margin: 10px 15px 0px 0px;
    }

    #navbar #startnav #startnavtitles li a {
        font-size: 13px;
    }

    #navbar #endnav form input[type="search"] {
        width: 160px;
        padding: 8px 0px 8px 6px;
    }

    #navbar #endnav form button {
        padding: 9px 11px 9px 11px;
    }

    #navbar #endnav #endnavcart {
        margin: 20px 0px 0px 100px;
    }

    #navbar #endnav #endnavcart a {
        font-size: 14px;
    }
}
@media(max-width:426px){
    #bars{
        display: block;
    }
    #navbar {
        display: block;
    }
    #navbar #startnav{
        margin: 0px 0px 30px 0px;
    }
    #navbar #startnav b {
        font-size: 30px;
        margin:0px 0px 0px 15px;
    }
    
    #navbar #startnav #startnavtitles {
        display: none;
    }
    #navbar #endnav form input[type="search"] {
        width: 335px;
        margin: 0px 0px 30px 15px;
    }
    
    #navbar #endnav form button {
        padding: 11px 13px 11px 13px;
    }
    
    #navbar #endnav #endnavcart {
        display: none;
    }
    #input1:checked~ #navbar #startnav #startnavtitles{
        display: block;
        position: absolute;
        width: 90%;
        background-color: rgb(32, 201, 151);
        padding-bottom: 50px;
    }
    #input1:checked~ #navbar #endnav #endnavcart{
        display: block;
        position: absolute;
        top: 265px;
        left: -65px;
    }
}

/* ====================== offer ===================== */
#offer {
    background-color: rgb(32, 201, 151);
    padding: 18px 0px 18px 460px;
    overflow-x: hidden;
}

#offer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
@media(max-width:1025px){
    #offer {
        padding: 16px 0px 16px 270px;
    }
    
    #offer a {
        font-size: 18px;
    }
}
@media(max-width:769px){
    #offer {
        padding: 16px 0px 16px 170px;
    }
    
    #offer a {
        font-size: 16px;
    }
}
@media(max-width:426px){
    #offer {
        padding: 16px 0px 16px 70px;
    }
}
/* =============================== */
#title {
    margin: 20px 0px 20px 180px;
    font-size: 15px;
}

#title a {
    text-decoration: none;
    color: rgb(32, 201, 151);
}
@media(max-width:1025px){
    #title{
        margin: 20px 0px 20px 50px;
        font-size: 15px;
    }
}
@media(max-width:769px){
    #title{
        margin: 20px 0px 20px 40px;
        font-size: 13px;
    }
}
@media(max-width:426px){
    #title{
        margin: 20px 0px 20px 40px;
        font-size: 15px;
    }
}
/* ======================= hero ==================== */
#hero {
    margin: 120px 0px 60px 180px;
    overflow-x: hidden;
}

#hero #herosection {
    display: flex;
}

#hero #herotitle {
    color: rgb(97, 97, 97);
    font-weight: lighter;
    font-size: 25px;
}

#hero #herosection #firstdiv span {
    font-size: 17px;
    color: rgb(124, 125, 126);
    line-height: 25px;
}

#hero #herosection #seconddiv {
    margin: 0px 0px 0px 90px;
}

#hero #herosection #seconddiv a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 18px;
}

#hero #herosection #thirddiv {
    margin: 0px 0px 0px 150px;
}

#hero #herosection #thirddiv a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 18px;
}

#hero #herosection #fourthdiv {
    margin: 0px 0px 0px 130px;
}

#hero #herosection #fourthdiv a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 18px;
}
@media(max-width:1025px){
    #hero {
        margin: 100px 0px 60px 50px;
    }
    
    #hero #herosection #firstdiv span {
        font-size: 15px;
    }
    
    #hero #herosection #seconddiv {
        margin: 0px 0px 0px 70px;
    }
    
    #hero #herosection #seconddiv a {
        font-size: 16px;
    }
    
    #hero #herosection #thirddiv {
        margin: 0px 0px 0px 120px;
    }
    
    #hero #herosection #thirddiv a {
        font-size: 16px;
    }
    
    #hero #herosection #fourthdiv {
        margin: 0px 0px 0px 100px;
    }
    
    #hero #herosection #fourthdiv a {
        font-size: 16px;
    }
}
@media(max-width:769px){
    #hero {
        margin: 100px 0px 60px 50px;
    }
    
    #hero #herosection {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    #hero #herosection #firstdiv span {
        font-size: 17px;
    }
    
    #hero #herosection #seconddiv {
        margin: 0px 0px 0px 100px;
    }
    
    #hero #herosection #seconddiv a {
        font-size: 18px;
    }
    
    #hero #herosection #thirddiv {
        margin: 40px 0px 0px 0px;
    }
    
    #hero #herosection #thirddiv a {
        font-size: 18px;
    }
    
    #hero #herosection #fourthdiv {
        margin: 35px 0px 0px 110px;
    }
    
    #hero #herosection #fourthdiv a {
        font-size: 18px;
    }
}
@media(max-width:426px){
    #hero {
        margin: 90px 0px 60px 40px;
        overflow-x: hidden;
    }
    
    #hero #herosection {
        display: block;
    }
    #hero #herosection #seconddiv {
        margin: 30px 0px 0px 0px;
    }
    #hero #herosection #thirddiv {
        margin: 30px 0px 0px 0px;
    }
    
    #hero #herosection #fourthdiv {
        margin: 30px 0px 0px 0px;
    }
}
/* =========================== form ====================== */
#contactformsection{
    display: flex;
    margin: 60px 0px 0px 0px;
    overflow-x: hidden;
}
#contactformsection form{
background-color: whitesmoke;
padding: 0px 0px 40px 30px;
}
#contactformsection form h1{
    font-size: 28px;
    font-weight: lighter;
    padding: 30px 0px 0px 0px;
}
#contactformsection form label{
    font-size: 17px;
    color:rgb(97, 97, 97);
    display: inline;
}
#contactformsection form input::placeholder{
    font-size: 15px;
    color: rgb(170, 172, 173);

}
#contactformsection form #firstname{
    padding: 14px 0px 14px 10px;
    border: none;
    width: 220px;
    margin: 15px 0px 25px 0px;
}

#contactformsection form #lastname{
    padding: 14px 0px 14px 10px;
    border: none;
    width: 220px;
    margin: 15px 30px 0px 0px;
}
#contactformsection form #email{
    padding: 14px 0px 14px 10px;
    border: none;
    width: 480px;
    margin: 15px 30px 25px 0px;
}

#contactformsection form #subject{
    padding: 14px 0px 14px 10px;
    border: none;
    width: 480px;
    margin: 15px 30px 25px 0px;
}
#contactformsection form textarea::placeholder{
    font-size: 15px;
    color: rgb(170, 172, 173);
}
#contactformsection form textarea{
    padding: 14px 0px 14px 10px;
    border: none;
    width: 480px;
    margin: 15px 30px 25px 0px;
    resize: vertical;
}

#contactformsection form button{
    font-size: 17px;
    border: none;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

#map{
    margin: 22px 0px 0px 30px;
}
#map iframe{
    height: 800px;
    width: 550px;
}
@media(max-width:1025px){
    #contactformsection form{
    padding: 0px 0px 30px 20px;
    }
    #contactformsection form h1{
        font-size: 25px;
        padding: 30px 0px 0px 0px;
    }
    #contactformsection form label{
        font-size: 15px;
    }
    #contactformsection form input::placeholder{
        font-size: 13px;
    }
    #contactformsection form #firstname{
        padding: 10px 0px 10px 6px;
        width: 180px;
    }
    
    #contactformsection form #lastname{
        padding: 10px 0px 10px 6px;
        width: 180px;
    }
    #contactformsection form #email{
        padding: 10px 0px 10px 6px;
        width: 400px;
    }
    
    #contactformsection form #subject{
        padding: 10px 0px 10px 6px;
        width: 400px;
    }
    #contactformsection form textarea::placeholder{
        font-size: 13px;
    }
    #contactformsection form textarea{
        padding: 10px 0px 10px 6px;
        width: 400px;
    }
    
    #contactformsection form button{
        font-size: 15px;
    }
    
    #map iframe{
        height: 740px;
        width: 440px;
    }
}
@media(max-width:769px){
    #contactformsection{
        display: block;
        margin: 60px 50px 0px 0px;

    }
    #contactformsection form{
    background-color: whitesmoke;
    padding: 0px 0px 40px 30px;
    }

    #contactformsection form h1{
        font-size: 28px;
    }
    #contactformsection form label{
        font-size: 17px;
    }
    #contactformsection form input::placeholder{
        font-size: 15px;
    
    }
    
    #contactformsection form #firstname{
        padding: 14px 0px 14px 10px;
        width: 270px;
    }
    
    #contactformsection form #lastname{
        padding: 14px 0px 14px 10px;
        width: 270px;
    }
    #contactformsection form #email{
        padding: 14px 0px 14px 10px;
        width: 580px;
        
    }
    
    #contactformsection form #subject{
        padding: 14px 0px 14px 10px;
        width: 580px;
        
    }
    #contactformsection form textarea::placeholder{
        font-size: 15px;
    }
    #contactformsection form textarea{
        padding: 14px 0px 14px 10px;
        width: 580px;
    }
    
    #contactformsection form button{
        font-size: 17px;
    }
    
    #map{
        margin: 22px 0px 0px 0px;
    }
    #map iframe{
        height: 800px;
        width: 670px;
    }
}
@media(max-width:426px){
    #contactformsection{
        display: block;
        margin: 60px 40px 0px 0px;

    }
    #contactformsection form{
        background-color: whitesmoke;
        padding: 0px 0px 30px 20px;
        }
    #contactformsection form h1{
        font-size: 23px;
        padding: 20px 0px 0px 0px;
    }
    #contactformsection form label{
        font-size: 13px;
    }
    #contactformsection form input::placeholder{
        font-size: 13px;
    }
    #contactformsection form #firstname{
        padding: 8px 0px 8px 5px;
        width: 130px;
        margin: 10px 0px 15px 0px;
    }
    
    #contactformsection form #lastname{
        padding: 8px 0px 8px 5px;
        width: 130px;
        margin: 10px 30px 0px 0px;
    }
    #contactformsection form #email{
        padding: 8px 0px 8px 5px;
        width: 295px;
        margin: 10px 30px 15px 0px;
    }
    
    #contactformsection form #subject{
        padding: 8px 0px 8px 5px;
        width: 295px;
        margin: 10px 30px 15px 0px;
    }
    #contactformsection form textarea::placeholder{
        font-size: 13px;
    }
    #contactformsection form textarea{
        padding: 8px 0px 8px 5px;
        width: 295px;
        margin: 10px 30px 15px 0px;
    }
    
    #contactformsection form button{
        font-size: 13px;
    }
    
    #map iframe{
        height: 600px;
        width: 440px;
    }
}
/* ============================== footer =========================== */

#footer {
    display: flex;
    padding: 100px 0px 80px 180px;
}

#footer .footertitle h4 {
    color: rgb(52, 58, 64);
}

#footer #footerabout p {
    font-size: 17px;
    line-height: 25px;
    color: rgb(124, 125, 126);
}

#footer #footerabout a {
    color: rgb(52, 58, 64);
    font-size: 18px;
    padding: 8px;
}

#footer #footercare {
    margin-left: 35px;
}

#footer #footercare p {
    line-height: 35px;
}

#footer #footercare p a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 14px;

}

#footer #footerinfo {
    margin-left: 75px;
}

#footer #footerinfo p {
    line-height: 35px;
}

#footer #footerinfo p a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 14px;
}

#footer #footernews {
    margin-left: 75px;
}

#footer #footernews p {
    line-height: 35px;
}

#footer #footernews p a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 14px;
}

#footer #footercontact {
    margin-left: 120px;
}

#footer #footercontact #p1 {
    font-size: 15px;
    line-height: 25px;
    color: rgb(124, 125, 126);
}

#footer #footercontact #p2 {
    line-height: 35px;
}

#footer #footercontact #p2 a {
    text-decoration: none;
    color: rgb(124, 125, 126);
    font-size: 14px;
}
@media(max-width:1025px){
    #footer {
        padding: 0px 0px 80px 80px;
    }
    #footer #footerabout p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #footer #footerabout a {
        font-size: 15px;
        padding: 7px;
    }
    
    #footer #footercare {
        margin-left: 20px;
    }
    
    #footer #footercare p {
        line-height: 25px;
    }
    
    #footer #footercare p a {
        font-size: 12px;
    
    }
    
    #footer #footerinfo {
        margin:0px 0px 0px 35px;
    }
    
    #footer #footerinfo p {
        line-height: 25px;
    }
    
    #footer #footerinfo p a {
        font-size: 12px;
    }
    
    #footer #footernews {
        margin-left: 20px;
    }
    
    #footer #footernews p {
        line-height: 25px;
    }
    
    #footer #footernews p a {
        font-size: 12px;
    }
    
    #footer #footercontact {
        margin-left: 60px;
    }
    
    #footer #footercontact #p1 {
        font-size: 13px;
        line-height: 20px;
    }
    
    #footer #footercontact #p2 {
        line-height: 25px;
    }
    
    #footer #footercontact #p2 a {
        text-decoration: none;
        color: rgb(124, 125, 126);
        font-size: 12px;
    }
}
@media(max-width:769px){
    #footer {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0px 0px 80px 70px;
    }
    
    #footer #footerabout p {
        font-size: 15px;
        line-height: 22px;
    }
    
    #footer #footercare {
       margin-left: 80px;
    }
    
    #footer #footercare p {
        line-height: 25px;
    }
    
    #footer #footercare p a {
        font-size: 13px;
    
    }
    
    #footer #footerinfo {
       margin-right: 60px;
    }
    
    #footer #footerinfo p {
        line-height: 25px;
    }
    
    #footer #footerinfo p a {
        font-size: 13px;
    }
    
    #footer #footernews {
        margin-left: 0px;
    }
    
    #footer #footernews p {
        line-height: 25px;
    }
    
    #footer #footernews p a {
        font-size: 13px;
    }
    
    #footer #footercontact {
        margin-left: 80px;
    }
    
    #footer #footercontact #p1 {
        font-size: 13px;
        line-height: 20px;
    }
    
    #footer #footercontact #p2 {
        line-height: 25px;
    }
    
    #footer #footercontact #p2 a {
        font-size: 13px;
    }
}
@media(max-width:426px){
    #footer {
        display: block;
        padding: 0px 0px 40px 40px;
    }
    
    #footer #footerabout p {
        font-size: 17px;
        line-height: 25px;
    }
    
    #footer #footerabout a {
        font-size: 20px;
        padding: 10px;
    }
    
    #footer #footercare {
        margin-left: 0px;
    }
    
    #footer #footercare p {
        line-height: 30px;
    }
    
    #footer #footercare p a {
        font-size: 15px;
    
    }
    
    #footer #footerinfo {
        margin:0px;
    }
    
    #footer #footerinfo p {
        line-height: 30px;
    }
    
    #footer #footerinfo p a {
        font-size: 15px;
    }
    
    #footer #footernews {
        margin-left: 0px;
    }
    
    #footer #footernews p {
        line-height: 30px;
    }
    
    #footer #footernews p a {
        font-size: 15px;
    }
    
    #footer #footercontact {
        margin-left:0px;
    }
    
    #footer #footercontact #p1 {
        line-height: 20px;
    }
    
    #footer #footercontact #p2 {
        line-height: 30px;
    }
    
    #footer #footercontact #p2 a {
        font-size: 15px;
    }
}